<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jetlagged</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/starter-template.css" rel="stylesheet">
</head>

<nav class="navbar navbar-inverse navbar-dark bg-primary">
    <a class="navbar-brand" href="http://jetlagged.xyz">Jetlagged</a>
</nav>

<body>
  <div class="container">

    <h2>Find A Flight</h2>
    <p>Let your layover become your destination</p>

      <form action="/output" method="GET">
        <div class="form-group row">
          <div class="col-md-3">
            <input type="text" name='from' placeholder="Origin" value={{ args['from'] }}>
          </div>
          <div class ="col-md-3">
            <input type="text" name='to' placeholder="Destination" value={{ args['to'] }}>
          </div>
          <div  class ="col-md-3">
            <input type="text" name='date' placeholder="MM-DD-YYYY" value={{ args['date'] }}>
          </div>
        </div>
        <small class="form-text text-muted">Feeling adventurous? Try {{ adventures['from'] }} to {{ adventures['to'] }} on {{ adventures['date'] }}</small>
           <!--<button formaction="http://jetlagged.xyz/output" type="submit" class="btn btn-primary btn-lg">Search</button>-->
           <button type="submit" class="btn btn-primary btn-lg">Search</button>

      </form>

  </div>

  <div class="results">
    <h3>Best Deal:</h3>

    <table class="table table-hover">
      <tr><th>Last Priced</th><th>Date</th><th>Flight</th><th>Last Leg</th><th>Fare</th><th>Direct Fare</th><th>Purchase</th></tr>
      {% for best in bests %}
      <tr><td> {{ best['freshness'] }} </td><td>{{ args['date'] }}</td><td>{{ args['from'] }} -> {{ args['to'] }}</td><td>{{ best['last_leg']}}</td><td> {{ best['fare'] }}</td><td> {{ best['direct_fare'] }}</td><td><a href="www.google.com/flights">Buy</a></td></tr>
      {% endfor %}
    </table>

      <h3>Other Results:</h3>

      <table class="table table-hover">
        <tr><th>Last Priced</th><th>Date</th><th>Flight</th><th>Last Leg</th><th>Fare</th><th>Purchase</th></tr>
        {% for flight in flights %}
        <tr><td> {{ flight['freshness'] }} </td><td>{{ args['date'] }}</td><td>{{ args['from'] }} -> {{ args['to'] }}</td><td>{{ flight['last_leg']}}</td><td> {{ flight['fare'] }}</td><td><a href="www.google.com/flights">Buy</a></td></tr>
        {% endfor %}
      </table>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
  </html>
