.container {
    padding: 25px;
    margin: auto;
    width: 50%;
    font-size: 12px;
    font-size: 2vw;
}

small {
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 10px;
    font-size: 1vw;
    font-style: italic;
}

.results {
    padding: 10px;
    font-size: 12px;
    font-size: 1.5vw;
}

